/*!*************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./app/globals.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************/
:root {
  --primary-color: #607D8B;
  --primary-color-opacity: ;
}
html,body{margin: 0;padding: 0;}
body {
  font-family: 'Noto Sans KR', sans-serif;
  color: #333;
  font-size: 12px;
}
h1, h2, h3, h4, h5, h6 {
  color: var(--primary-color);
  margin: 20px 0;
}
h1{color: #333;font-size: 20px;}
h2 {
  font-size: 16px;
  color: black;
}
p {
  margin: 10px 0;
  line-height: 1.5;
}
menu a {
  color: #000;
  transition: color 0.3s ease;
  /* text-decoration: none; */
  text-underline-offset: 4px;
}
menu a:hover {
  /* color: rgba(0, 0, 0, 0.6); */
  color: crimson;
}

::selection {
  background-color: rgba(0,0,0,.2);
  color: #fff;
}
h1:first-child{margin-top: 0;}
section{padding: 30px;}
.title{display: block;padding: 20px 30px 0 30px;font-size: 18px;}
menu{/* display: flex; */flex-wrap: wrap;gap: 5px 10px;margin: 0;padding: 20px 25px 20px 30px;}
menu a{display:inline-block;margin:0 5px 5px 0}
footer{padding: 0 30px 20px 30px;}
.back{position: -webkit-sticky;position: sticky;top:0;display: flex;align-items: center;justify-content: center;background-color: crimson;color: #fff;border: 0;padding: 5px;cursor: pointer;color: #fff;text-decoration: none;}
/* menu + section{padding-top:0} */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
